<% provide(:title, "About") %>
<h1>This is the ABOUT Page</h1>
<p>
The Ruby on Rails Tutorial is
a book and screencast series
to teach web development with
Ruby on Rails. This is the sample
application for the tutorial.
</p>
Need some help just visit 
<a href="http://bawing.wordpress.com"> my blog </a>.

