<% provide(:title, "Contact") %>
<%= stylesheet_link_tag "gmaps4rails" %>

<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyAsJ8W6sv4MEZS9uMb7qYhxJiiI7XhIdaI"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div class="mailme" style="overflow:hide ">
<div class="row">
 <div class="col-md-5">
<h3 style="text-align:center" ><span class="label label-success">Send Me some LoVe</span></h3>
<%= form_for @message, url: contact_path  do |message_form|%>
<fieldset>
  <%= message_form.label :name %>
  <%= message_form.text_field :name, class: 'form-control', placeholder: "Name" %>

  <%= message_form.label :email %>
  <%= message_form.email_field :email, class: 'form-control', placeholder: "Email" %>

  <%= message_form.label :content %>
  <%= message_form.text_area :content, class: 'form-control', placeholder: "Message", rows: "15" %>

</fieldset>

<fieldset>
 <%= message_form.submit "Send", class: "btn btn-primary" %>
</fieldset>
<% end %>
 </div>

<div class="col-md-5">
<h3><span class="label label-success">My Location</span></h3>
  <div id="map" style="width: 500px;height: 500px;"></div>
</div>



</div>
</div>
<script type="text/javascript">

$(document).ready(function() {

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": "10.3076820",
      "lng": "123.898727",
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  "26",
        "height": "26"
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
});

});
 

</script>

