<% provide(:title, "Help") %>
<style>
#help_box {
	margin:5px;
}
#help_box img {
	border:1px solid gray;
	padding:4px;
}
.ninja_title {
	font-size:2em;
        background-color: #ffffae;
      	padding:10px;
	border-radius: 11px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);       
}

#help_list {
	font-size: 2em;
	background-color:rgba(255, 255, 255, .5);
	border-radius: 11px;
 	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}


</style>

<div id="help_box">
<%= image_tag("persons/ninja01.png", alt: "Erwin", width: 150, class: 'myface') %>
<span class="ninja_title">Just Follow these NINJA Rules and You'll be OK!</span>
</div>

<div id="help_list">
<ul>
<li>Create an avatar at <%= link_to "http://en.gravatar.com/", 'http://en.gravatar.com/' %>.</li>
<li>Sign-up at my home page.</li>
<li>An email for confirmation will be sent to you at the email address you provided during sign-up. Open your email and confirm your registration.</li>
<li>Login using the credentials ( email and password ) that you provided during sign-up.</li>
<li>Start posting ( messages or images ).</li>
<li>Go to Users at the main menu and start following other members.</li>
</ul>
</div>
<p>
Get help on the Ruby on Rails Tutorial at the
<a href="http://www.railstutorial.org/#help"> Rails Tutorial Help Section</a>
To get help on Rails Topics visit
<a href="http://bawing.wordpress.com"> My Blog Site </a>
<br/>




