<% if logged_in? %>
 <div class="row">
  <aside class="col-md-4"> 
   <section class="user_info">
     <%= render 'shared/user_info' %>
   </section>
   <section class="stats">
    <%= render 'shared/stats' %>
   </section>
   <section class="micropost form">
     <%= render 'shared/micropost_form' %> 
   </section>
  </aside>
  <div class ="col-md-8">
   <h3><span class="label label-danger">WHAT'S THE BUZZ? </span></h3> 
   <% if @microposts.any? %>
    <ol class="microposts">
     <div id="micropost_space">
     <%= render @microposts %>
     </div>
    </ol>
   <% end %> 
  </div>
 </div>
<% else %>
<div class="center jumbotron homejumbo">
<h1>Welcome to Erwin's Playground</h1>
<h3>
  where you are absolutely free ...
</h3>
<br/><br/>
<h2>
<a href="http://www.erwinsky.com"> BAwingsky's Digital Portfolio</a>
</h2>

  <%= link_to "Sign up now!",signup_path, remote: true, class: "btn btn-lg btn-primary" %>

</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %>
<%= link_to image_tag("persons/erwin01.png", alt: "Erwin", width: 90, class: 'myface'), 'http://erwinsky.com' %>


<% end %>

