Complete your registration at Erwin's Playground

Hi <%= @user.name %>,

Just one more step to become a member of a happy circle. Just click the link to activate your membership.

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

From your friend,
Erwinsky

