<h2 style="text-align:center; color:grey"><span>Complete your registration at Erwin's Playground</span></h2>

Hi <%= @user.name %>,
<br/><br/>
<p>
Just one more step to become a member of a happy circle. Just click the link to activate your membership.
</p>
<br/><br/> 
<div style="text-align:center; border: 1px solid green; background-color: yellow; padding: 3pxi; overflow: auto">
<h2>
<%= link_to "Activate my account now.", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</h2>
</div>
<br/>
<br/>
From your friend,<br/>
Erwinsky

