 			<% comments = micropost.comments.all %>
 		 	<% if comments.any? %>
 		 		<ol>
 		 		<% comments.each do |comment| %>
	 			<li class="comments_list">
 		 		<div class="row">
				<div class="col-sm-12">
					<%= link_to gravatar_for(comment.user,size: 25), comment.user %>   
					Commented <%= time_ago_in_words(comment.created_at) %> ago. 
 		 			<span class="user user_name"><%= link_to comment.user.name, comment.user %> says:</span>
 		 		</div>
				</div>
				<div class="row">
				<div class="col-sm-12">
				<span style="color: brown;"><%= comment.comment %></span>
				</div>
				</div>
		
				<div class="row">
				<div class="col-sm-12">
				<span>
				<% if current_user?(comment.user) %>
				<%= link_to "Delete", comment, method: :delete, remote: true %>
				<% end %>
				</span>
				</div>
				</div>

 	 			</li>

 		 		<% end %>
 		 		</ol>
 		 	<% end %>
<div class-"comments_form">
<% comment = Comment.new %>
<% f_url = request.url %>
<%= form_for comment, remote: true do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :micropost_id, value: micropost.id  %>
<%= f.hidden_field :f_url, value: f_url %>
<%= f.text_area :comment, placeholder: "komentaryo na!", class: "field comment comment-#{micropost.id}", :rows => 2 , :cols => 20 %>
<%= f.submit "Post Comment", class: "btn btn-warning btn-xs btn-comment"%>
<% end %>
</div>
