var mcID = <%= @micropost.id %>
// alert ("hello im in micropost : " + mcID);
$('#comment-'+mcID).html("<%= j render(:partial => 'comments/comments', :locals => {:micropost => @micropost}) %>");
var tempId = ".comment-"+mcID;
$(tempId).text("").focus();
