userID = <%= @user.id %>
$("#follow_form-"+userID).html("<%= escape_javascript(render('users/follow'))%>")
// $("#followers").html('<%= @user.followers.count %>')
$(".stats_show-"+userID +" #followers" ).html('<%= @user.followers.count %>');
