<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">

  <%= form_for @user, remote: true do |f| %>
   <%= render 'shared/error_messages', object: f.object %>

   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control' %>
   <%= f.label :email %>
   <%= f.text_field :email, class: 'form-control' %>
   <%= f.label :password %>
   <%= f.password_field :password, class: 'form-control' %>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation, class: 'form-control' %>
   <div class="row">
   <div class="col-sm-6">
   <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100%">Close</button>
   </div>
   <div class="col-sm-6">
   <%= f.submit "Create my account", class: "btn btn-primary" %>
   </div>
   </div>
  <% end %>


      </div>
    </div>
</div>
