   <li>
   <%= gravatar_for user, size: 50 %>
   <%= link_to user.name, user %> 
   <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
   <% end %>
   <br>
   <div class="follow_unfollow_users_buttons">
   <%= render 'follow_form', :local => (@user = user) if logged_in? %>
   </div>
   </li>
