<% provide(:title, "All users") %>
<h3><span class="label label-success">OUR BUDDIES</span></h3>

<%= will_paginate @users %>

<ul class="users">

 <% @users.each do |user|%>
   <%= render user %>
 <% end %>

  <!-- you can replace the above code with a more copact
       partial form with this:

      <%= render @users %>
  -->

</ul>


