<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4" >
    <section class="user_info" >
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
      <br/>
      <%= @user.email %>
      </h1>
    </section>
    <section class="stats_show-<%= @user.id %>">
	<%= render 'follow_form' if logged_in? %> 
	<%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
   <% if @user.microposts.any? %>
     <h3><span class="label label-warning">MICROPOSTS (<%= @user.microposts.count %>) </span></h3> 
     <ol class="microposts">
      <%= render @microposts %> 
     </ol>
     <%= will_paginate @microposts %> 
   <% end %> 
  </div> 

</div>

