<% provide(:title, @title) %>
<div class="row">
 <aside class="col-md-4">
  <section class="user_info">
   <%= gravatar_for @user %>
   <h1><%= @user.name %></h1>
   <span><%= link_to "view my profile", @user %></span>
   <span><b>Microposts:</b> <%= @user.microposts.count %></span>
  </section>
  <section class="stats">
   <%= render 'shared/stats' %>
  </section>
 </aside>
 <div class="col-md-8">
  <h3><span class="label label-success"><%= @title %></h3>
  <% if @users.any? %>
   <ul class="users follow">
    <%= render @users %>
   </ul>
   <%= will_paginate %>
  <% end %>
 </div>
</div>


