
<%= form_for(@micropost, html: { multipart: true}, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
   <%= f.text_area :content, placeholder: "Just free your mind ...", class: "field span12", :rows => 4, :id => "micropost_area" %>
  <%= f.submit "Post", class: "btn btn-primary" %>

<style type="text/css">
.image-upload > input {
  /* display: none; 
  visibility: hidden; */
}
.glyphicon.glyphicon-camera {
 font-size: 20px;
}  
</style>

<div class="image-uploadi" style="overflow:auto">
<!--
<label for="file-input">
<table class="table">
<tr><td> 
    <span class="btn btn-info btn-warning">
    <span class="glyphicon glyphicon-camera"></span>
    </span> 
</td><td>
    <span id="image_added">
	Add Image!
    </span>  
 </td>
</tr>
</table>
</label>
-->
   <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg', id: "file-input" %>
</div>

<% end %>

<script type="text/javascript"> 

 $(document).ready(function() {
  // alert("hello world!");
 }); 
 
 $('#micropost_content').bind("change", function() {
   //alert("The paragraph was clicked.");
   //alert(this); 
  // alert("size : " + this.files[0].size);  
 }); 

  $(function() {
     $("input:file").change(function (){
       var fileName = $(this).val();
       // alert("the filename:" + fileName );
       $("#image_added").html(fileName);
     });
  });



</script>
