<%= link_to gravatar_for(current_user, size: 50), current_user %> 
<h1><%= current_user.name %></h1>
<%= link_to "view my profile", current_user, class: "btn btn-info btn-sm" %>
<span> <%= pluralize(current_user.microposts.count, "micropost") %></span>

