<li id="micropost-<%= micropost.id %> the_posts">
<div class="row">
<div class="col-sm-2">
 <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
 <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
</div>
<div class="col-sm-10">
 <span class="content"><%= micropost.content %>
  
  <a href="<%= micropost.picture.url %>" rel="lightbox"> 
  <%= image_tag(micropost.picture, :class=>"img-responsive") if micropost.picture? %>
  </a> 

 </span>
 <span class="timestamp">
  Posted <%= time_ago_in_words(micropost.created_at) %> ago. 
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, remote: true, :class => 'delete_post' %>
  <% end %>
 </span>
 	<div class="row">
 	<div class="col-sm-12">
 		<div class="comments" id="comment-<%= micropost.id %>">
 		<%= render partial: 'comments/comments', :locals => { micropost: micropost } %>
		</div>
    	</div>
    	</div>


</div>
</div>
</li>
