// alert("inside create micropost");
<% if @microposts.any? %>
$("#micropost_space").html("<%= escape_javascript( render @microposts )%>");
<% end %>
var tempID = "#micropost_area";
$(tempID).val("").focus();
// $("input:file").val("");
// $("#image_added").html("");
// alert("inside the maze");
