@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}


/* universal */
html {
}
body 
{
  padding-top: 60px;
  background-image: url("background/body/backg03.jpg"); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #B3F150; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 768px ) {

 body {
  background-image: url("background/body/backformobile2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  

 }

}

.btn,.btn-primary,.btn-xs {
  margin: 0px;	
}

.field {
        padding: 0px;
	margin:0px;
}

/* aesthetics 1 jumbotrons */
.homejumbo {
/*  background: transparent; */
background-color: rgba(255,255,255,0.4);
border-radius: 25px; 
}

.myface {
 border-radius: 5px; 
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  }
}
/* variables */
$light-gray: #777;


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  /* equivalent sass variable from bootstrap variable @gray-ligth */
  /* which you can also use */
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.top-header {
 margin-bottom: 3px;

}

.main_container {
 margin:20px 10px 0 10px;
}
#logo {
  position:absolute;
  border: 2px solid #fff;
  z-index: 2000;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }

  img {
  height: 50px;
  margin-top: 5px;
  }

}


/* footer */
footer {
  clear: both;

  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #EAEAEA;
  color: #000000;
  a {
    color: black ;
    &:hover {
      color: yellow;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
 
 section.user_info {
  margin-top: 40px;
 }
 
 section {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
   border: 0;
   padding-top: 0;
  }
  
  span {
   display: block;
   margin-bottom: 3px;
   line-height: 1;
  }

  h1 {
   font-size: 1.4em;
   text-align: left;
   letter-spacing: -1px;
   margin-bottom: 3px;
   margin-top: 0px;
  }
 }
}

.gravatar {
 float: left;
 margin-right: 2px;
}

.gravatar_edit {
 margin-top: 15px;
}

.stats {
 overflow: auto;
 margin-top: 0;
 padding: 0;
 a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $gray-lighter;
  color: black;
  &:first-child {
   padding-left: 0;
   border: 0;
  }
  &:hover {
   text-decoration: none;
   color: brown;
  }
 }
 strong {
  display: block;
 }
}

.user_avatars {
 .gravatar {
   overflow: hidden;
   float: left;
 } 
 
}

.users.follow {
 padding: 0;
}


/* forms */
input, textarea, select, .uneditable-input {

 border: 1px solid #bbb;
 width: 100%;
 margin-bottom: 15px;
 @include box_sizing;

}

input {
 height: auto !important;
}

#error_explanation {

 color: red;
 ul {
  color: red;
  margin: 0 0  30px 0;
 }
}

.field_with_errors {
 @extend .has-error;
 .form-control {
  color: $state-danger-text;
 }
 input {
  border: 1px solid red;
 }
}

.checkbox {
 margin-top: -10px;
 margin-bottom: 10px;
 span {
  margin-left: 30px;
  font-weight: normal;
 } 
}

#session_remember_me {
 width: auto;
 margin-left: 0;
}

/* users index */
.users {
 list-style: none;
 margin: 0;
 li {
  font-color: "#000000";
  overflow: auto;
  padding: 10px;
  margin: 5px;
  background-color: rgba(255,255,255,0.4);
  width: 300px;
  float: left;  
 }
 a {
  color: black ;
  &:hover {
    color: yellow;
  }
 }
 
 .gravatar {
  border: 2px solid white;
 }
 
}

/* follow unfollow users buttons */

.follow_unfollow_users_buttons {
 overflow: auto;
 .btn {
    font-size: .8em;
    width: 30%;
    height: 80%;
 }
}

/* comments */

.comments {
	ol {
	 list-style: none;
	}
	.comments_list {
	 overflow: hidden; 
	 border: 1px solid orange; 
	 margin: 2px 0px
	}
}

.btn-comment {
	width: 90px;
}
/* microposts */

.microposts {
 padding: 0;
 list-style-type: none;
}
.microposts li {

 border-radius: 5px;
 border: 1px solid white;
 background-color: rgba(255,255,255,0.4);
 padding: 3px;
 margin: 5px 0;

}




.microposts {
 list-style: none;
  .the_posts {
   overflow:hidden;
   border: 1px solid white;
  }

  li {
   padding: 10px 10px;
   border: 5px solid #e8e8ee8; 
   overflow: hidden;

  

  }
  
  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 0px;
    img {
      display: block;
      border: 2px solid white;
      
    }
   }

  .timestamp {
    color: $gray-light;
    display: block;
  }

  .gravatar {
    float: left;
    background: #E6E6E6;
    padding: 3px;
 }
}





aside {

 border-radius: 5px;
 border: 1px solid white;
 background-color: rgba(255,255,255,0.4);
 padding: 3px;

 textarea {
  heigth: 100px;
  margin-bottom: 5px; 
 }

 .gravatar {
  background: #E6E6E6;
  padding: 3px;
 } 

}



span.picture {
 margin-top: 10px;
 input {
  border: 0;
 }
}

/* miscillaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
} 
