<div id="home-modal" class="modal fade">
</div>
<footer class="footer">
  <small>
    The <a href="http://www.erwinsky.com">Bawingsky's Digital Portfolio</a>
    by <a href="http://bawing.wordpress.com">Erwinsky Presbitero</a>
  </small>
  <nav>
    <ul>
	<li><%= link_to "About", about_path %></li>
 	<li><%= link_to "Contact" , contact_path %></li>
 	<li><a href="https://bawing.wordpress.com/my-blogs/">News</a></li>
    </ul>
  </nav>
</footer>
