<header class="top-header navbar navbar-fixed-top navbar-inverse">
	<div class="container">

	<nav id="myNavbar" role="navigation" class="navbar navbar-default navbar-inverse">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


	<div id="navbarCollapse" class="collapse navbar-collapse">

		<ul class="nav navbar-nav pull-right">
		 	<% if logged_in? %>
			<p class="navbar-text">Logged in as : <%= current_user.name %></p>
			<% end %>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Contact", contact_path, 'data-no-turbolink' => true %></li>

			<% if logged_in? %>
			<li><%= link_to "Users", users_path %></li>
			<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href="">Account<b class="caret"></b></a>
			    <ul role="menu" class="dropdown-menu">
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
					<li class="divider"></li>
					<li>
					<%= link_to "Log out", logout_path, method: "delete" %>
					</li>
				</ul>
			</li>
			<% else %>
				<li><%= link_to "Log in", login_path, remote: true %></li>
			<% end %>
			
		</ul>

	</div>
	</nav>
	</div>
	</header>
