<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale-1">
  <meta name="google-site-verification" content="GNe-HEHjIZZrPydVeenf6jb1WXdrCXc9DOfo8N48OG4" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76084323-4', 'auto');
  ga('send', 'pageview');

</script>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
     <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
	<%= yield %>
        <%= render 'layouts/footer' %>
       	<%= debug(params) if Rails.env.development? %>
  </div>
<script type="text/javascript">
// alert ("initialized OK javascript");
</script>
</body>
</html>
